<% content_for(:html_title) { "Home" } %>

<section class="hero container">
    <div class="hero-body has-text-centered">
    <h1 class="title is-size-1 has-text-weight-bold">
        <!-- Be a <span class="is-family-code">coder</span> today -->
        Learn to code — all on your own time
    </h1>
    <p class="subtitle is-size-5 mt-1">
        Courses that can help you become a <strong class="has-text-link">software engineer</strong>
    </p>
    <div class="block">
        <a href="#" class="button is-light is-medium is-link">View courses</a>
    </div>
    <figure class="image is-3by2">
        <%= image_tag "programmer-bro.svg" %>
    </figure>
    </div>
</section>



<section class="section has-background-white-bis">
    <div class="container">
    <div class="columns is-desktop is-vcentered">
        <div class="column">
            <%= image_tag "webinar.svg" %>
        </div>
        <div class="column">
        <h2 class="title">Experienced Engineers</h2>
        <p class="">Our instructors are currently working in the field of software engineering. 
            Giving you only the best hands-on knowledge on software engineering.
        </p>
        <a href="#" class="button is-link is-light mt-5">Browse courses</a>
        </div>
    </div>
    </div>
</section>



<section class="section container">
    <div class="columns is-desktop is-vcentered">
    <div class="column">
        <h2 class="title">Build a Portfolio, Land Your Dream Programming Job</h2>
        <p class="">Techdegree is a bootcamp-tier program that guides you through a full curriculum that 
        includes a portfolio of curated projects, workshops, quizzes, and access to the 
        exclusive Treehouse Slack community
        </p>

        <a href="#" class="button mt-5 is-link is-light">Browse courses</a>

    </div>
    <div class="column">
        <%= image_tag "typing.svg" %>
    </div>
    </div>
</section>
