/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

:root {
    --main-color: #485fc7;
}

.sidebar {
    overflow-y: auto;
}

.overcontent {
    overflow-y: auto;
}

ul li {
    margin-bottom: .9rem;
}

footer {
    margin-top: auto;
}

.field_with_errors {
    border: 1px solid red;
    border-radius: 3px;
}

#error_explanation {
    color: red;
    text-align: left;
}

#error_explanation h2 {
    text-align: center;
}

#error_explanation ul {
    list-style-type: disc;
    margin: 1rem;
    margin-left: 2rem;
}

#error_explanation ul li {
    margin: 0;
}
